<%= form_for @movie do |f| %>

<% if @movie.errors.any? %>
<ul>
  <% @movie.errors.full_message.each do |msd| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

Movie
<%= f.text_field :title %>
<br>
Review
<br>
<%= f.text_area :description %>
<br>

<%= f.submit "Submiting", :disable_with => "Submiting..." %>
<% end %>
